$logoHeight: 68px;

$leftSideWidth: 260px;
$lsideFooterHeight: 52px;

$rightSideWidth: 280px;
$sideNotificationBarHeight: 60px;

$mainSearchBarHeight: 32px;
$mainSearchBarHeightResponsive: 21px;
$profileNavBarBorderBottom: 3px;

$WrapperborderRadius: 4px;

$profileHeaderHeight: 260px;

// Common
$backgroundColor: #151728;
$breakLineColor: #24273b;
$linkTextColor: #1771D6;
$activeTextColor: white;

// Customized Scrollbar
$scrollBarTrackMainContainer: #272a3d;
$scrollBarThumbMainContainer: #3f4153;
$scrollBarTrack: #181A2B;
$scrollBarThumb: #313342;

// Main container
$containerBackground: #24273b;

// Sidebar
$sideNotificationBarTextColor: #64677A;
$leftSideTextColor: #9C9CAB;
$rightSideFooterTextColor: #656679;

// Wrapper
$WrapperborderRadius: 4px;
$wrapperTextTitleColor: #5c5e6e;

// Logo
$logoColor: #ffffff;

// Profile header
$profileNavbarTextColor: #5c5e6e;
$profileNavbarHover: #1B1D2E;
$profileNavbarBoderHover: #1488FA;
$avatarBoder: black;

// New Post
$newPostOptionText: #CCC8DB;
$newPostOptionHover: #2E2E40;
$newPostPlaceHolderText: #5c5e6e;
$newPostShareBtn: #1b86f9;

// Posted
$postContentTextColor: #CCC8DB;
$postInteract: #A2A4A4;

// Checkin
$checkinTimeTextColor: #5c5e6e;
$checkinTitleColor: #C3C5D5;

// Introdution
$introTextColor: #C3C5D5;

// User List
$UserListNameColor: #CCC8DB;
$userListDesColor: #595c6c;

// User state
$userStateOffline: #606A8D;
$userStateBusy: #DD1C20;
$userStateOnline: #7FD222;

// Font
$primaryFont: 'DM Sans', sans-serif;
$secondaryFont: 'Source Sans Pro', sans-serif;

